body {
}

h3 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

div {
    height: 30px;
    width: 2400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#messageSpan {
    height: 100px;
    width: 2400px;
    vertical-align:text-bottom;
}
span {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

input[type=text] {

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}